<header>
	<h2 id="name">FColor04</h2>
	<nav id="nav">
		<ul class="nav-list">
			<li><a routerLinkActive="active" routerLink="/" [routerLinkActiveOptions]="{exact: true}">My work</a></li>
			<li><a routerLinkActive="active" routerLink="/about-me">About me</a></li>
			<li><a routerLinkActive="active" routerLink="/contact">Contact</a></li>
		</ul>
		<button class="hamburger-menu" (click)="HC.toggleHamburger();">
			<fa-icon [icon]="faBars"></fa-icon>
		</button>
		<app-hamburger-menu *ngIf="HC.hamburger" [cb]="HC.toggleHamburger"></app-hamburger-menu>
	</nav>
</header>