<app-background-pattern>
	<img src="../../assets/pf.jpg" alt="My picture">
	<i>Hi, my name is Marcin Smoła, also known as FColor04 and welcome to my portfolio!</i>
	<h2>About me</h2>
	I'm young frontend developer that's very interested in JS frameworks and CSS, I love component driven frameworks, React was my main framework over last year but I'll be learning both Vue and Angular in the future! I have experience in game development so I also aim for learning Three.js which will be a wonderful tool in my toolbox, I learn very quickly and I really like working in team, I can share ideas or discuss features or implementations, I think I really fit in organised team, If this sounds like someone you'd hire, contact me!
</app-background-pattern>
