@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);
@import "../theme";

@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

#hero-img-container {
  width: 100vw;
  height: clamp(300px, 40vw, 900px);
  position: relative;
  > #hero-img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 80% 20%;
  }
  > a {
    position: absolute;
    right: 15vw;
    bottom: 0;
    padding: 0.5rem;
    text-decoration: none;
    background-color: #ddd;
    color: black;
    box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(50%);
    z-index: 4;
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 3rem;
    background-color: hsla(240deg, 70%, 30%, 0.5);
    z-index: 3;
  }
}

#hook {
  color: $on-900;
  position: absolute;
  bottom: 1rem;
  left: 1vw;
  height: 11rem;
  font-family: "Anonymous Pro", monospace;
  text-shadow: 4px 4px rgba(0, 0, 0, 0.4);
  z-index: 4;
}

.typewriter {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  height: 1em;

  & > .anim-typewriter {
    display: inline-block;
    height: 1em;
    white-space: nowrap;
    overflow: hidden;
  }
  & > .cursor {
    width: 0.1ch;
    height: 0.9em;
    background-color: $on-900;
    margin: 0.05em 0;
    animation: blink 0.5s infinite alternate;
  }
}

.intro {
  color: $on-900;
  background-color: $grayscale-900;
  font-weight: 800;
  padding: 0 1vw;
  position: absolute;
  bottom: 12rem;
  left: 1vw;
}
