:host {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 4rem auto 14rem;
  min-height: 100vh;
  > app-header {
    position: sticky;
    top: 0;
    z-index: 5;
  }
  > app-footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
}
