$primary-900: #391e72;
$primary-800: #552784;
$primary-700: #642b8e;
$primary-600: #763197;
$primary-500: #82359d;
$primary-400: #944eac;
$primary-300: #a66bba;
$primary-200: #bf93ce;
$primary-100: #d8bee1;
$primary-050: #efe5f3;
$on-900: #fff;
$on-800: #fff;
$on-700: #fff;
$on-600: #fff;
$on-500: #fff;
$on-400: #fff;
$on-300: #fff;
$on-200: #000;
$on-100: #000;
$on-050: #000;
$grayscale-900: #1d1d1d;
$grayscale-800: #3e3e3e;
$grayscale-700: #5d5d5d;
$grayscale-600: #707070;
$grayscale-500: #999999;
$grayscale-400: #b8b8b8;
$grayscale-300: #dcdcdc;
$grayscale-200: #ebebeb;
$grayscale-100: #f3f3f3;
$grayscale-050: #f9f9f9;
