/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;800&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  font-family: "Montserrat", sans-serif;
  font-size: 3vw;
  @media screen and (min-width: 600px) {
    font-size: 22px;
  }
}

body {
  margin: 0;
  padding: 0;
}
